.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}


.NameField, .EmailField, .MobileField, .DishField {
    background: transparent;
    border: none;
}

.Newsletter, .submit {
    text-align: center;
    background: transparent;
}

.errorMessage {
    padding-left: 20px;
}

.FormContainer {
    padding-top: 50px;
}

.signUpFormStyle {
    text-align: center;
}
