<form name='signUpForm' class='signUpFormStyle' novalidate ng-cloak> 
	<button value='Sign Up for the Newsletter!' class='Newsletter'>Sign Up for the Newsletter!</button>
	<br>
	<div class='FormContainer'>
		 
		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			<label>First Name</label><span ng-if='(signUpForm.firstName.$error.required && signUpForm.firstName.$touched) || signUpForm.submit.$touched' class='errorMessage'>First Name is required</span><br>
			<input type='text' class="NameField" name='firstName' ng-model='signUpCtrl.user.firstName' placeholder='Enter first name here' required></input><br>
		</div>
		
		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			<label>Last Name</label><span ng-if='signUpForm.lastName.$error.required && signUpForm.lastName.$touched' class='errorMessage'>Last Name is required</span><br>
			<input type='text' class="NameField" name='lastName' ng-model='signUpCtrl.user.lastName' placeholder='Enter last name here' required></input><br>
		</div>

		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			<label>Email</label><span ng-if='signUpForm.email.$error.required && signUpForm.email.$touched' class='errorMessage'>Email is required</span><br>
			<input type='email' class="EmailField" name='email' ng-model='signUpCtrl.user.email' placeholder='Enter email id here' required></input><br>
		</div>

		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			<label>Mobile</label><br>
			<input type='text' class="MobileField" placeholder='Enter your contact number here' ng-model='signUpCtrl.user.mobile'></input><br>
		</div>
		
		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			<label>Favorite Dish--{{signUpCtrl.user.favDish}}</label><span ng-if='signUpForm.favoriteDish.$error.required && signUpForm.favoriteDish.$touched' class='errorMessage'>Please mention your favorite dish</span><br>
			<input type='text' name='favoriteDish' class="DishField" ng-model="signUpCtrl.user.favDish" placeholder='Enter your favorite dish here' required></input><br>
			<br>
		</div>
		<div>
			Form Valid?--{{signUpForm.$valid}}
		</div>
		<a ui-sref="public.submit({favDish: signUpCtrl.user.favDish})">
		<button name='submit' type='submit' class='submit' ng-disabled="signUpForm.$invalid">Submit</button>
		</a>
	</div>
</form>